.popup__title-notice {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  margin: 34px 0 13px 0;
  text-align: center;
}

@media screen and (max-width: 635px) {
  .popup__title-notice {
    font-size: 20px;
    margin: 40px 0 34px 0;
}
}
